.scene {
    perspective: 700px;
    perspective-origin: center;
    width: auto;
    height: auto;

}

.cube {
    width: 200px;
    height: 200px;
    margin: 50px auto 50px 50px;
    transform-style: preserve-3d;
}

.cube-part {
    width: 100%;
    height: 100%;

    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 200px;
    border-radius: 0;

    opacity: 0.8;
    position: absolute;
    overflow: hidden;
}

.front {
    background-color: #6c38cc;
    /*background: url(https://img.freepik.com/free-vector/white-technology-background_23-2148390328.jpg?w=740&t=st=1712143117~exp=1712143717~hmac=8543a1e99664bb913790c25c04fd2b57936ea2bb7e425074b6b7100c327e6862);*/
    transform: translateZ(100px);
    opacity: 1;
}

.image-front {

    transform: scale(1.2);
    border-radius: 50%;
    width: 100%;
    height: 100%;

}

.back {

    opacity: 1;
    background-color: rgb(193, 68, 143);
    transform: rotateY(-180deg) translateZ(100px);
}

.image-back {
    width: 100%;
    height: 100%;
}

.left {

    opacity: 1;
    background-color: rgb(240, 42, 58);
    transform: rotateY(-90deg) translateZ(100px);
}

.right {
    opacity: 1;
    background-color: rgb(240, 230, 42);
    transform: rotateY(90deg) translateZ(100px);
}

.bottom {
    opacity: 1;
    background-color: rgb(88, 42, 240);
    transform: rotateX(-90deg) translateZ(100px);
}

.top {

    background-color: cadetblue;
    opacity: 1;
    transform: rotateX(90deg) translateZ(100px);
}

.image-top {
    width: 100%;
    height: 100%;
}

.image-bottom {
    width: 100%;
    height: 100%;
}

.scene:hover .cube {
    animation-play-state: running;
}

/* animation cube */
.cube {
    animation: cube 5s infinite alternate ease-in-out;
    animation-play-state: paused;
}

@keyframes cube {
    0% {
        transform: rotateX(360deg) rotateY(-360deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(180deg);
    }
    100% {
        transform: rotateX(-270deg) rotateY(360deg);
    }
}

/* Cube image styles */
.cube-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
