@tailwind base;
@tailwind components;
@tailwind utilities;



.nav-btn {
    width: 140px;
    height: 41px;

    background: linear-gradient(0deg, #6e1c11, #4c52a0);
    border-radius: 20px;
    font-size: 20px;
    color: rgba(215, 211, 211, 0.75);
    transition: all 0.4s;
    &:hover {
        color: antiquewhite;
        box-shadow: 0 0 40px 15px #ffffff;
        border-radius: 20px;
        scale: 105%;
    }
}
